.Sport {
  display: grid;
  grid-template-areas: "g g g g g t t" "p p p p p p p";
  row-gap: 3px;
  column-gap: 3px;
  height: 100%;
  width: 100%;
}

.Sport > div {
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.Graphs {
  grid-area: g;
}

.Players {
  grid-area: p;
}
//
.Searches {
  grid-area: t;
}

@media only screen and (max-width: 600px) {
  .Sport {
    grid-template-areas: "t" "p" "g";
  }
}
